## Project Name

- Books-Recommendation-System

## Problem Statement


- "Design a system that takes in data on users' reading history and preferences, and uses this information to generate personalized recommendations for books that the user is likely to enjoy."

## Github Link:

- https://github.com/ajaysable976/Books-Recommendation-System

## Dataset Information


The Book-Crossing dataset comprises 3 files.


1. **Users:**
- Contains the users. Note that user IDs (User-ID) have been anonymized and map to integers. Demographic data is provided (Location, Age) if available. Otherwise, these fields contain NULL values.


2. **Books:**
- Books are identified by their respective ISBN. Invalid ISBNs have already been removed from the dataset. Moreover, some content-based information is given (Book-Title, Book-Author, Year-Of- Publication, Publisher), obtained from Amazon Web Services. Note that in the case of several authors, only the first is provided. URLs linking to cover images are also given, appearing in three different flavours (Image-URL-S, Image-URL-M, Image-URL-L), i.e., small, medium, large. These URLs point to the Amazon website.


3. **Ratings:**
- Contains the book rating information. Ratings (Book-Rating) are either explicit, expressed on a scale from 1-10 (higher values denoting higher appreciation), or implicit, expressed by O.

### Importing library

In [1]:
import pandas as pd
import numpy as np

### loading all 3 datasets

In [2]:
books = pd.read_csv("BX-Books.csv", sep=";", error_bad_lines=False, encoding="latin-1")

C:\Users\vijay\AppData\Local\Temp\ipykernel_7100\3897328690.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv("BX-Books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\vijay\AppData\Local\Temp\ipykernel_7100\3897328690.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("BX-Books.csv", sep=";", error_bad_lines=False, encoding="latin-1")

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
user = pd.read_csv("BX-Users.csv", sep=";", error_bad_lines=False, encoding="latin-1")

C:\Users\vijay\AppData\Local\Temp\ipykernel_7100\572837311.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  user = pd.read_csv("BX-Users.csv", sep=";", error_bad_lines=False, encoding="latin-1")

In [5]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
rating = pd.read_csv("BX-Book-Ratings.csv", sep=";", error_bad_lines=False, encoding="latin-1")
rating.head()

C:\Users\vijay\AppData\Local\Temp\ipykernel_7100\2763630711.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  rating = pd.read_csv("BX-Book-Ratings.csv", sep=";", error_bad_lines=False, encoding="latin-1")

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

### EDA

#### checking any null values

In [7]:
## checking any null values in books dataset
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
## dropping the null values
books.dropna(inplace=True)

In [9]:
## checking any null values
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [61]:
# Missing Value Count Function
def show_missing():
    missing = user.columns[user.isnull().any()].tolist()
    return missing

# Missing data counts and percentage
print('Missing Data Count')
print(user[show_missing()].isnull().sum().sort_values(ascending = False))
print('--'*50)
print('Missing Data Percentage')
print(round(user[show_missing()].isnull().sum().sort_values(ascending = False)/len(user)*100,2))

Missing Data Count
age    110762
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Data Percentage
age    39.72
dtype: float64

- Age has **39.7%** missing data from the dataset

In [10]:
## checking any null values in user dataset
user.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
## checking the mean for age column
user["Age"].mean()

34.75143370454978

In [12]:
## checking any null values in rating dataset
rating.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

#### checking the categorical and Numerical variables

In [68]:
# find categorical variables for books
categorical = [var for var in books.columns if books[var].dtype=='O']
print('There are {} categorical variables books dataset'.format(len(categorical)))

There are 5 categorical variables books dataset

In [70]:
# find categorical variables for rating
categorical = [var for var in rating.columns if rating[var].dtype=='O']
print('There are {} categorical variables rating dataset'.format(len(categorical)))

There are 1 categorical variables rating dataset

In [64]:
# find categorical variables for user
categorical = [var for var in user.columns if user[var].dtype=='O']
print('There are {} categorical variables for user dataset'.format(len(categorical)))

There are 1 categorical variables for user dataset

In [71]:
# find Numerical variables for books
numerical = [var for var in books.columns if books[var].dtype!='O']
print('There are {} numerical variables books dataset'.format(len(numerical)))

There are 0 numerical variables books dataset

In [72]:
# find Numerical variables for rating
numerical = [var for var in rating.columns if rating[var].dtype!='O']
print('There are {} numerical variables rating dataset'.format(len(numerical)))

There are 2 numerical variables rating dataset

In [73]:
# find Numerical variables for user
numerical = [var for var in user.columns if user[var].dtype!='O']
print('There are {} numerical variables user dataset'.format(len(numerical)))

There are 2 numerical variables user dataset

1. For Books we have:
- 5 categorical variables and 0 numerical variables

2. For rating we have:
- 1 categorical variables and 2 numerical variables

3. For user we have:
- 1 categorical variables and 2 numerical variables

In [13]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

#### keeping only necessary columns

In [14]:
# storing the necessary columns in books varaibles
books = books[["ISBN","Book-Title","Book-Author","Year-Of-Publication","Publisher"]]

In [15]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

#### renaming all the columns

In [16]:
# renaming the columns in books dataset

books.rename(columns={"Book-Title":"title", "Book-Author":"author","Year-Of-Publication":"year","Publisher":"publisher"},inplace=True)
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [17]:
# renaming the columns in user dataset

user.rename(columns={"Location":"location","Age":"age"},inplace=True)
user.head()

   User-ID                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [18]:
# renaming the columns in rating dataset

rating.rename(columns={"User-ID":"user_id","Book-Rating":"book_rating"},inplace=True)
rating.head()

   user_id        ISBN  book_rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

#### checking the shape of all 3 datasets

In [19]:
print(books.shape, user.shape ,rating.shape)

(271354, 5) (278858, 3) (1149780, 3)

In [20]:
rating["user_id"].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

In [21]:
x =rating["user_id"].value_counts()>350

In [22]:
# returns only the true values
x[x].shape

(463,)

In [23]:
#return thetrue values with user_id
y = x[x].index

In [24]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
             93629,   8681, 136252, 227705, 179733,  26516, 238864,  50225,
            161752,  41841],
           dtype='int64', length=463)

In [25]:
ratings= rating[rating["user_id"].isin(y)]

#### checking the shape

In [26]:
ratings.shape

(412186, 3)

In [27]:
ratings.head()

      user_id        ISBN  book_rating
1456   277427  002542730X           10
1457   277427  0026217457            0
1458   277427  003008685X            8
1459   277427  0030615321            0
1460   277427  0060002050            0

#### merging the dataset on ISBN column

In [28]:
rating_books = ratings.merge(books,on="ISBN")

In [29]:
rating_books.head()

,user_id,ISBN,book_rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [30]:
rating_books.shape

(382649, 7)

#### Gouping title and book_rating column

In [31]:
number_rating = rating_books.groupby("title")["book_rating"].count().reset_index()

- **grouping the data** in a DataFrame called "rating_books" by the "title" column, and then counts the number of occurrences of each unique title.

In [32]:
number_rating.rename(columns={"book_rating":"no_of_rating"},inplace=True)

In [33]:
number_rating.head()

                                               title  no_of_rating
0   A Light in the Storm: The Civil War Diary of ...             1
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Beyond IBM: Leadership Marketing and Finance ...             1
4   Clifford Visita El Hospital (Clifford El Gran...             1

- Lets **merge the dataset** with the perivious dataset on **Title column**

In [34]:
# merging the dataset
final_rating = rating_books.merge(number_rating,on="title")

In [35]:
final_rating.head()

,user_id,ISBN,book_rating,title,author,year,publisher,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,57
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,57
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,57
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,57
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,57

In [36]:
final_rating.shape

(382649, 8)

- Looking at the above dataset we can see there are lot of rating which have **rating below 60**
- We will keep only the rating which are **above or equal to 60**

In [37]:
# storing rating greter or equal to 60 in the varaible
final_rating= final_rating[final_rating["no_of_rating"]>=60]

In [38]:
final_rating

,user_id,ISBN,book_rating,title,author,year,publisher,no_of_rating
185,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,90
186,6251,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,90
187,7346,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,90
188,11676,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,90
189,13273,0060930535,9,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,90
...,...,...,...,...,...,...,...,...
159285,203799,0684810395,8,Pretend You Don't See Her,Mary Higgins Clark,1997,Simon &amp; Schuster,77
159286,230522,0684810395,0,Pretend You Don't See Her,Mary Higgins Clark,1997,Simon &amp; Schuster,77
159287,238120,0684810395,0,Pretend You Don't See Her,Mary Higgins Clark,1997,Simon &amp; Schuster,77
159288,244349,0684810395,0,Pretend You Don't See Her,Mary Higgins Clark,1997,Simon &amp; Schuster,77
159289,254465,0684810395,0,Pretend You Don't See Her,Mary Higgins Clark,1997,Simon &amp; Schuster,77

#### dropping any duplicate values

In [39]:
final_rating.drop_duplicates(["user_id","title"],inplace=True)

In [40]:
final_rating.head()
print(final_rating.shape)

(20987, 8)

#### creating the pivot table

- **Pivot table** are useful for organizing and analyzing large sets of data, and can help to make it more easily readable and understandable.

In [41]:
book_pivot = final_rating.pivot_table(columns="user_id",index="title",values='book_rating')
book_pivot

user_id,2276,3363,3757,6251,6543,6575,7158,7346,8681,11601,...,269719,269728,270713,271284,274004,274061,274308,275970,277427,278418
title,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,NaN,NaN,NaN,NaN,9.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,10.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
A Bend in the Road,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
A Map of the World,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
White Oleander : A Novel,NaN,0.0,NaN,8.0,NaN,0.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
White Oleander : A Novel (Oprah's Book Club),NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
Wicked: The Life and Times of the Wicked Witch of the West,NaN,0.0,NaN,0.0,10.0,9.0,NaN,7.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wild Animus,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
book_pivot.shape

(255, 456)

In [43]:
# filling the na values
book_pivot.fillna(0,inplace=True)
book_pivot

user_id,2276,3363,3757,6251,6543,6575,7158,7346,8681,11601,...,269719,269728,270713,271284,274004,274061,274308,275970,277427,278418
title,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Map of the World,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
White Oleander : A Novel,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
White Oleander : A Novel (Oprah's Book Club),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wicked: The Life and Times of the Wicked Witch of the West,0.0,0.0,0.0,0.0,10.0,9.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wild Animus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- Looking at the above data we can see we have **lot of values which are zero**, So the best way to deal with these type of dataset is to use **sparse matrix**

#### converting to sparse matrix

In [44]:
from scipy.sparse import csr_matrix

In [45]:
book_sparse = csr_matrix(book_pivot)
book_sparse

<255x456 sparse matrix of type '<class 'numpy.float64'>'
	with 4798 stored elements in Compressed Sparse Row format>

### Model building

In [46]:
from sklearn.neighbors import NearestNeighbors

In [47]:
model = NearestNeighbors(algorithm="brute")

In [48]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [49]:
distances,suggestion = model.kneighbors(book_pivot.iloc[123,:].values.reshape(1,-1), n_neighbors=6)

In [50]:
print(distances)

[[ 0.         26.         27.27636339 27.64054992 27.94637722 28.4956137 ]]

In [51]:
print(suggestion)

[[123  94 146 218  67  28]]

In [52]:
book_pivot.index[129]

'Red Storm Rising'

In [53]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Pop Goes the Weasel', 'Isle of Dogs', 'Slow Waltz in Cedar Bend',
       'The Simple Truth', 'Full Tilt (Janet Evanovich's Full Series)',
       'Black and Blue'],
      dtype='object', name='title')

- In this case **Cosine similarity is efficient** to measure the similarity between two sparse vectors instead of the euclidean distance **which is costly to compute.**

In [54]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(book_pivot)

In [55]:
similarity_scores.shape

(255, 255)

### building recommendation function

In [56]:
def recommend(book_name):
    # index fetch
    index = np.where(book_pivot.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['title'] == book_pivot.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        item.extend(list(temp_df.drop_duplicates('title')['author'].values))
        
        
        data.append(item)
    
    return data

In [57]:
recommend('Red Storm Rising')

[['Congo', 'Michael Crichton'],
 ['The Partner', 'John Grisham'],
 ['The Chamber', 'John Grisham'],
 ['The Client', 'John Grisham']]

## How is this project useful to stakeholders?


- A book recommendation system can be useful to several stakeholders, including readers, authors, publishers, and booksellers.


- **For readers**, a recommendation system can help them discover new books that they may be interested in reading, based on their reading history, preferences, and ratings. This can save them time and effort in finding new books to read, and help them discover books that they may not have otherwise found on their own.


- **For authors**, a recommendation system can help to promote their books to a larger audience and increase their visibility. When readers are recommended an author's book, it increases the chance of them reading and rating it highly. This will further increase visibility of the book and increase their sales.


- **For publishers and booksellers**, a recommendation system can help to increase sales by recommending books to readers that are more likely to be of interest to them. It can also help to increase the visibility of certain books or authors, which can help to increase overall sales and revenue.


In general, book recommendation systems can help to create a more efficient and personalized reading experience for readers, while also helping authors, publishers, and booksellers to promote and sell their books more effectively.